@import url('${ pageContext.servletContext.contextPath }/resources/css/style.css');

.blog-page {
    width: 1100px;
}

.writer-info {
    font-size: 12px;
    color: #c4c4c4;
}

.writebox{
    width: 1100px;
    min-height: 200px;
    max-height: 1000px;
}

/* 댓글 */
.commentbox {
    width: 1100px;
}

/* 댓글작성자 */
#profilepic {
    width: 48px;
    height: 48px;
    object-fit: contain;
    right: 30px;
    top: 10px;
    border-radius: 100%;
    margin-right: 10px;
}
#profile-name{
    font-weight: 600;
}

#comment-day {
    text-align: right;
}

.text-box {
    min-height: 0%;
    max-height: 100%;
    width: 90%;
    color: #333;
    font-size: 16px;
}

.form-control {
    border: none;
    border-left: #ffc800 10px solid;
    resize: none;
}

table {
    width: 1080px;
}
table tbody tr td:nth-child(1){
    font-weight: 500;
    color: #333;
}
table tbody tr td:nth-child(2){
    font-size: 12px;
    color: #c4c4c4;
}

.btn-toolbar {
    float: right;
}

.btn-toolbar button {
    font-size: 12px;
    color:#c4c4c4;
}

.comment-form button {
    float: right;
}